<button (click)="movePlayer()" *ngIf="!rolled">Roll Dice</button>
<!--<button (click)="resetGame()">Reset Game</button>-->
<!--<button (click)="addPlayer()">Add Player</button>-->
<h1>Dice One: {{diceNumberOne}}</h1>
<h1>Dice Two: {{diceNumberTwo}}</h1>
<h1>Dice Total: {{diceTotal}}</h1>
<h1 *ngIf="diceDoubles">DOUBLES!</h1>

<form (submit)="newUser()">
  <div class="form-group">
    <label>Name</label>
    <input type="text" [(ngModel)]="name" name="name" class="form-control">
  </div>
  <input type="submit" class="btn btn-primary" value="Submit">
</form>


<div *ngIf="users" >
  <div *ngFor="let user of users">
    <p>{{user.name}}  {{user.active}} at: {{locations[user.location].name}}</p>
  </div>

  <div>
    <h2>Current Player: {{activeUser.name}}</h2>
    <div *ngIf="activeUser.ownedProperties">
      <h3>Owned Properties</h3>
      <ul>
        <li *ngFor="let owned of activeUser.ownedProperties">
          {{owned}}
          <span></span>
          <!--<button (click)="addHouse()">Add House</button>-->
        </li>
      </ul>
    </div>
    <h3>Money: {{activeUser.money}}</h3>
    <h3 *ngIf="locations">Current Location: {{locations[activeUser.location].name}}</h3>
    <div *ngIf="locations">
      <div *ngIf=purchaseable>
        <h2>Would you like to purchase {{locations[activeUser.location].name}}?</h2>
        <button (click)="purchaseProperty(activeUser, locations[activeUser.location], activeUser.location)">Yes</button>
      </div>
    </div>
    <button (click)="endTurn()" *ngIf="rolled">End Turn</button>
  </div>
</div>

<p *ngIf="message">{{message}}</p>

<ul>
  <li *ngFor="let property of locations">({{property.locationOnBoard}}){{property.name}} <span *ngIf="property.cost">Cost: ${{property.cost}}</span> <span *ngIf="property.ownedBy">Current Rent: ${{property.rent[property.buildings]}} Owned By {{property.ownedBy}}</span> </li>
</ul>
