.card {
  border: double black 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rent{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title{
}

h4, h2 {
  margin: 0;
}
